node_modules/
**/*.json
**/*.png
**/*.jpg
**/*.jpeg
**/*.ico
**/*.txt
**/*.gif
**/*.test.js
**/*.gradle
**/*.java
**/*.keystore
**/*.xml
**/*.properties
**/*.bat
**/*.jar
**/*.pro
gradlew
firebase-messaging-sw.js
build/
babel.config.js
firebase.js
prettierignore
*.md
*.html

